<html>
<head>
<meta charset="utf-8">
<title>Fish Monitoring System</title>
</head>
<body>
    <h1 align="center">Monitoring Fish System</h1>
    
    <img src="ImageWeb/temperature.png" alt="Temperature Akuarium" width="200" height="200">
    <h1>Temperatur Akuarium : 28 C</h1>
    
    <img src="ImageWeb/temperature.png" alt="Temperature Cadangan Air" width="200" height="200">
    <h1>Temperatur Air Cadangan : 25 C</h1>
    
    <img src="ImageWeb/waterLvlWhite.png" alt="Tinggi Air" width="200" height="200">
    <h1>Tinggi Air Akuarium : {{mainTankWaterLvl}}</h1>
    
    <img src="ImageWeb/waterLvlBlack.png" alt="Tinggi Air Cadangan" width="200" height="200">
    <h1>Tinggi Air Cadangan : {{backupTankWaterLvl}}</h1>
    
    <img src="ImageWeb/waterPump.png" alt="Status Pompa Utama" width="200" height="200">
    <h1>Status Pompa Air Utama : ON</h1>
    
    <img src="ImageWeb/waterPump.png" alt="Status Pompa Pengisap" width="200" height="200">
    <h1>Status Pompa Air Pengisap : OFF</h1>
    
    <img src="ImageWeb/waterPump.png" alt="Status Pompa Pengisi" width="200" height="200">
    <h1>Status Pompa Air Pengisi : OFF</h1>
    
     <img src="ImageWeb/lamp.png" alt="Status Lampu Aquarium" width="200" height="200">
    <h1>Status Lampu Tank : ON</h1>
</body>
</html>

{{drainTankPump}}
{{fillTankPump}}
{{lampTankPump}}

